<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
  <true/>
	<key>Label</key>
	<string>info.hotoku.rstudio</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/hotoku/project/plist-rstudio/run.sh</string>
		<string>-p</string>
		<string>9001</string>
		<string>-v</string>
		<string>/Users/hotoku/samples/r</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/rstudio.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/rstudio.out</string>
</dict>
</plist>
